.create-group-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: blue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.createpage-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    flex-direction: column;
    
}
.createpage-form label{
    font-size: x-large; 
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}
.createpage-form input{
    padding: 0.5rem;
    font-size: large;
    width: 360px;
    height: 40px;
    border: 1px solid white;
    background-color: #EAEAEA;
    border-radius: 1rem;
}
.createpage-form textarea{
    padding: 0.5rem;
    font-size: large;
    width: 360px;
    height: 40px;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    background-color: #EAEAEA;
}
.createpage-form button{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid white;
    font-size: large;
    margin-top: 1rem;
    background-color: blue;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 55px;
    cursor: pointer;
    color: white;
    margin-bottom: 1rem;
}

.create-page-header{  
    color: blue;
    font-size: xx-large;
    font-weight: 600;
    padding: 1rem;
}

.createpage-form-container{
    width: 500px;
    border: 1px solid #EAEAEA;
    border-radius: 0.2rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}