.signin-page{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height: 100%;
    /* width: 100%; */
   
}
.signin-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}
.signin-heading{
    font-size: 60px;
    font-weight: 700;
    color: blue;
}
.signin-para{
    font-size: 30px;
    font-weight: 480;
    background-color: #EAEAEA;
}
.signin{
    display: flex;
    /* margin: 3rem;
    margin-top: 3rem; */
    /* background-color: white; */
    /* border: 1px solid white; */
    border-radius: 0.5rem;
    /* width: 350px; */
    padding: 1rem;
}

.signin-input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #EAEAEA;
    font-size: large;
    width: 360px;
  }
  
  #email{
    height: 25px;
  }
  #password{
    height: 25px;
  }
/* .signin label{
    font-size: x-large; 
  } */
.signin form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    /* width: 325px; */
  }

.signin p{
    color: blue; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

#signin-button{
    margin-top: 1rem;
    font-size: x-large; 
    cursor: pointer;
    width: 378px;
    background-color: blue;
    color: white;
}

.signin button{
    font-size: large; 
}

hr{
    color: #EAEAEA;
    /* width: 345px; */
}
.signup-button{
    height: 25px;
    margin-top: 0.5rem;
    width: 360px;
    padding: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    border-radius: 0.2rem;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.signup-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-p{
    cursor: pointer;
}
.signin-page #nav-bar-container{
    display: none;
    color: #EAEAEA;
}
.signup-button:hover{
    cursor: pointer;
}
.signin-email-label{
    font-size: medium;
    font-weight: 500;
}

.signin-password-label{
    font-size: medium;
    font-weight: 500;
}
@media only screen and (max-width: 500px){
    .signin-page{
        flex-direction: column;
        overflow: hidden;
    }
    .signin form{
        width: 100%;
    }
    .signin-description{
        padding: 40px;
        margin-top: 0;
        margin-left: 0;
    }
}