.profile {
    position: relative;
  }
  
  .auth-modal {
    margin-top: 0.8rem;
    width: 17rem;
    background-color: #fff;
    height: 350px;
    position: absolute;
    right: 10px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
  }
  .arrowIconForDropDown svg:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .auth-modal .for-svg-for-name svg {
    height: 35px;
    width: 35px;
    color: rgba(0, 0, 0, 0.6);
  }
  .for-svg-for-name {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .for-svg-for-name h6 {
    font-size: 20px;
  }
  .profile-name-span{
    font-size: 17px;
    margin-left: 0.5rem;
  }
  .view-profile-span{
    font-size: 15px;
  }
  .auth-modal > h4 {
    margin-top: 1rem;
    font-size: medium;
    margin-left: 1rem;
  }
  .upper-div-main {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  .upper-div {
    margin-top: 1rem;
    /* margin-left: 1rem; */
    /* margin-bottom: -10px; */
    height: 100px;
  }
  .upper-div h4 {
    font-size: medium;
  }
  .upper-div p {
    font-size: 14px;
    cursor: pointer;
  }
  .upper-div p:hover {
    text-decoration: underline;
  }
  .lower-div {
    margin-left: 1rem;
    margin-bottom: -20px;
  }
  .lower-div h4 {
    font-size: medium;
  }
  .lower-div p {
    font-size: 14px;
    cursor: pointer;
  }
  .lower-div p:hover {
    text-decoration: underline;
  }
  .sign-out-btn {
    /* margin-top: 0.5rem; */
    font-size: 18px;
    border: none;
    /* margin-left: -150px; */
    text-decoration: underline;
    background: none;
    text-decoration: none;
  }
  .sign-out-btn:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .btn-for-name {
    display: flex;
    width: 95%;
    text-align: center;
  }
  .view-profile {
    text-align: center;
    width: 100%;
    height: 24px;
    color: blue;
    border-radius: 1px solid blue;
    margin-bottom: -10px;
  }
  .auth-modal-icon{
    margin: 0.5rem;
    border: 1px solid #EAEAEA;
    border-radius: 0.2rem;
    box-shadow: 2px #EAEAEA;
  }
  .quth-modal-span{
    color: blue;
    font-size: 20px;
    margin-top: 0.7rem;
    cursor: pointer;
  }
  .uppder-div-container{
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
  }
  .upper-div-icon-container{
    width: 25px;
    height: 30px;
  }
  .uppder-div-container p{
    font-size: 18px;
  }