.commingsoon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    color: black;
    font-size: 40px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.comming-soon-image{
    display: flex;
    justify-content: center;
}