* {
    margin: 0;
    padding: 0;
    
  }
  
  .navbar-container {
    display: flex;
    height: 3.5rem;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100vw;
    border: 1px solid #EAEAEA;
    z-index: 100;
    padding: 0.2rem;
  }
  .header_search {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    border-radius: 5rem;
    outline: 2px;
    width: 200px;
    height: 43px;
  }
  .header_search input {
    width: 250px;
    transition: width 0.2s;
    background-color: transparent;
    border-radius: 1px;
    outline: 0;
    height: 2rem;
    padding: 1.2rem;
    border: 0 solid #e5e7eb;
  }
  
  .fa-search {
    color: aqua;
  }
  .mercado-match {
    color: blue;
  }
  
  .navbar-container1 {
    display: flex;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .navbar-container1 svg{
    cursor: pointer;
  }
  .navbar-container2 {
    display: flex;
    gap: 5rem;
    margin-left: 200px;
  }
  .navbar-container3 {
    display: flex;
    gap: 1rem;
  }
  .homeNav {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    line-height: 1.333;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.6);
    
  }
  
  .mercado-match1 {
    color: rgba(0, 0, 0, 0.6);
  }
  .navbar-container2-home {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -0.4rem;
  }

  .mercado-match2 {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .mercado-match3 {
    color: rgba(0, 0, 0, 0.6);
  }
 
  .messagenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.6);
  }
  .mercado-match4 {
    color: rgba(0, 0, 0, 0.6);
  }
  .navbar-container2-messaging {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -0.4rem;
  }
  .notificationnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.6);
  }
  .mercado-match5 {
    color: rgba(0, 0, 0, 0.6);
  }
  .navbar-container2-notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: -0.4rem;
  }
  .menav {
    text-decoration: none;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.6);
  }
  .global-nav__icon {
    color: rgba(0, 0, 0, 0.6);
    height: 24px;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    width: 24px;
  }
  svg[data-supported-dps="16x16"] {
    width: 1.6rem;
    height: 1.6rem;
  }
  .lucide-user-circle2 {
    color: rgba(0, 0, 0, 0.6);
  }
  .navbar-container2-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #search2 {
    height: 1rem;
  }
  .ember-view {
    border-radius: 50%;
  }
  .active {
    padding: 0.1rem;
    color: black;
    
  }
  .nav-logo{
    color: blue;
    width: 40px;
    height: 40px;
  }
  .nav-icon{
    width: 30px;
    height: 35px;
    color: grey;
  }
  .nav-icon:hover{
    color: blue;
  }

  .mercado-match6 {
    color: rgba(0, 0, 0, 0.6);
  }

  .navbar-container3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 180px;
  }
  .nav-icon-span{
    border: 1px solid #EAEAEA;
    border-radius: 3rem;
    width: 100px;
    height: 2rem;
    padding: 0.2rem;
    background-color: #EAEAEA;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .nav-icon-span:hover{
    cursor: pointer;
    color: blue;
  }

  @media only screen and (max-width: 767px) {
    .navbar-container2{
      display: none;
    }
    .navbar-container3{
      margin-left: 70px;
    }
  }
  @media only screen and (max-width: 500px) {
    .navbar-container2{
      display: none;
    }
    .navbar-container3{
      display: none;
    }
  }
