p{
    color: black;
    background-color: white;
}
.channelslist-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
}