p{
    color: black;
    background-color: white;
}

.postslist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media only screen and (max-width: 500px) {
    .postslist-container{
        width: 100%;
    }
  }